In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

In [3]:
# URL to scrape the data
links = []
artists = []
base_url = 'https://247wallst.com/special-report/2019/01/10/100-most-popular-musicians-on-tour-in-2019/'
for i in range(2, 12):
    links.append(base_url + str(i))

for url in links:
    response = requests.get(url)
    soup = bs(response.text, 'html.parser')
    
    divs = soup.find_all('div', class_='pubentry-wrapper')
    for div in divs:
        artist_info = {}
        title_span = div.find('span', class_='title-bullet')
        artists_id_name = title_span.find('strong').text
        artist_id = artists_id_name.split(".")[0]
        artist_info['artist_id'] = artist_id
        artist_name = artists_id_name.split(".")[1]
        artist_info['artist_name'] = artist_name
        
        bullet_spans = div.find_all('span', class_='value-bullet')
        no_of_shows = bullet_spans[0].text.strip()
        no_of_shows = no_of_shows.split(":")[1]
        artist_info['no_of_shows'] = no_of_shows
        followers = bullet_spans[1].text.strip()
        followers = followers.split(":")[1]
        artist_info['followers'] = followers
        recent_albums = bullet_spans[2].text.strip()
        recent_albums = recent_albums.split(":")[1]
        artist_info['recent_albums'] = recent_albums
        
        artists.append(artist_info)

In [7]:
artists_df = pd.DataFrame(artists)
artists_df = artists_df.set_index("artist_name")
artists_df.head()

,artist_id,followers,no_of_shows,recent_albums
artist_name,,,,
Incubus,100,"675,465",4,8 (2017)
Kodak Black,99,"369,978",1,Dying to Live (2018)
Diplo,98,"605,749",19,Florida (2004)
"Tyler, The Creator",97,"647,691",2,Flower Boy (2017)
Wu-Tang Clan,96,"449,643",4,Once Upon a Time in Shaolin (2015)